.intro-container {
    text-align: center;
    margin: 5%;
}

.ship-select {
    text-align: center;
    margin: 5%;
}

.inventory {
    margin: 5%;
    width: 20%;
}

.inventory h3 {
    text-align: center;
}

.no-info {
    text-align: center;
    margin: 5%;
}

.no-auth {
    text-align: center;
    margin: 5%;
}